<!DOCTYPE html>
<html>
  <head>
    <title>Bookr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
    <% if user_signed_in? %>
      User signed in: <%= current_user.email %>
    <% end %>
    <hr>

      <%= yield %>
    </main>
  </body>
</html>
